<nav class="navbar navbar-front">
    <div class="nav-left">
        <img src="../pictures/M.png" class="nav-logo">
        <span class="nav-title">3movCollectors</span>
    </div>

    <div class="nav-search">
        <img src="../pictures/search.png" class="search-icon-img">
        <input type="text" placeholder="Search movies, people, discussions...">
    </div>

    <div class="nav-right">
        <a href="../html/login.html" class="login-link">Login</a>
        <a href="../html/signup.html" class="signup-btn">Sign Up</a>
    </div>
</nav>
