<nav class="navbar">
    <div class="nav-left">
        <img src="../pictures/M.png" alt="Logo" class="nav-logo" onclick="window.location.href='dashboard.html'">
        <span class="nav-title" onclick="window.location.href='dashboard.html'">3movCollectors</span>
    </div>

    <div class="nav-search">
        <img src="../pictures/search.png" alt="Search" class="search-icon-img">
        <input type="text" placeholder="Search movies, people, discussions...">
    </div>

    <div class="nav-right">
        <!-- Active Notification Button -->
        <button class="icon-btn active" type="button" onclick="window.location.href='notifications.html'">
            <div class="icon-circle active">
                <img src="../pictures/bell-notification-social-media.png" alt="Notifications" class="icon-img">
                <span class="icon-badge">2</span>
            </div>
        </button>

        <button class="icon-btn" type="button" onclick="window.location.href='messages.html'">
            <div class="icon-circle">
                <img src="../pictures/envelope.png" alt="Messages" class="icon-img">
                <span class="icon-badge">3</span>
            </div>
        </button>

        <img src="../pictures/line.png" alt="Divider" class="nav-separator">

        <div class="user-section"  onclick="window.location.href='profile.html'">
            <span class="user-status-dot"></span>

            <div class="icon-circle user-circle" onclick="window.location.href='profile.html'">
                <img src="../pictures/user.png" alt="User" class="icon-img" onclick="window.location.href='profile.html'">
            </div>
        </div>
    </div>
</nav>