<aside class="sidebar sidebar--collapsed" id="sidebar">
    <div class="sidebar-header">
        <button id="sidebar-toggle" class="menu-btn">
            <img src="../pictures/menu.png" class="menu-icon">
        </button>
    </div>

    <nav class="sidebar-menu">
        <a class="menu-item menu-item--active">
            <div class="icon-circle icon-circle--active">
                <img src="../pictures/home.png" class="item-icon">
            </div>
        </a>

        <a class="menu-item"><div class="icon-circle"><img src="../pictures/film.png"></div></a>
        <a class="menu-item"><div class="icon-circle"><img src="../pictures/bookmark.png"></div></a>
        <a class="menu-item"><div class="icon-circle"><img src="../pictures/friends.png"></div></a>
        <a class="menu-item"><div class="icon-circle"><img src="../pictures/envelope.png"></div></a>
        <a class="menu-item"><div class="icon-circle"><img src="../pictures/calendar.png"></div></a>
    </nav>

    <hr class="sidebar-divider">

    <nav class="sidebar-menu sidebar-menu--secondary">
        <a class="menu-item"><div class="icon-circle"><img src="../pictures/admin.png"></div></a>
        <a class="menu-item"><div class="icon-circle"><img src="../pictures/settings.png"></div></a>
        <a class="menu-item"><div class="icon-circle"><img src="../pictures/help.png"></div></a>
    </nav>
</aside>
