<aside class="sidebar sidebar--collapsed" id="sidebar">
    <div class="sidebar-header">
        <button id="sidebar-toggle" class="menu-btn">
            <img src="../pictures/menu.png" class="menu-icon">
        </button>
    </div>

    <nav class="sidebar-menu">
        <a class="menu-item" href="../html/dashboard.html">
            <div class="icon-circle">
                <img src="../pictures/home.png" class="item-icon">
            </div>
        </a>

        <a class="menu-item" href="../html/browse-movies.html"><div class="icon-circle"><img src="../pictures/film.png"></div></a>
        <a class="menu-item" href="../html/watchlist.html"><div class="icon-circle"><img src="../pictures/bookmark.png"></div></a>
        <a class="menu-item" href="../html/friends.html"><div class="icon-circle"><img src="../pictures/friends.png"></div></a>
        <a class="menu-item" href="../html/events.html"><div class="icon-circle"><img src="../pictures/calendar.png"></div></a>
    </nav>

    <hr class="sidebar-divider">

    <nav class="sidebar-menu sidebar-menu--secondary">
        <a class="menu-item" href="../html/admin-panel.html"><div class="icon-circle"><img src="../pictures/admin.png"></div></a>
        <a class="menu-item" href="../html/settings.html"><div class="icon-circle"><img src="../pictures/settings.png"></div></a>
        <a class="menu-item" href="../html/help.html"><div class="icon-circle"><img src="../pictures/help.png"></div></a>
    </nav>
</aside>